[submodule "lib/src/soundfont-player"]
	path = lib/src/soundfont-player
	url = https://github.com/daxxog/soundfont-player
[submodule "lib/src/midi"]
	path = lib/src/midi
	url = https://github.com/daxxog/midi
